@model List<WebApplication1.Models.Poznamka>
@{
    Layout = "_Layout";

    ViewData["Title"] = "Všechny poznámky";
}
@if(Model != null && Model.Count > 0)
    {
    foreach (WebApplication1.Models.Poznamka c in Model)
    {
        @:<p><b>@c.Nadpis</b> <a href ="/Poznamka/Detail/@c.Id">Detail</a></p>
        @:<p>@c.Telo</p>
        @:<hr />
    }
}
<a href ="/Uzivatel/Profil">Zpět na profil</a>
