@{
    Layout = "_Layout";
    ViewData["Title"] = "Přihlášení";
 }
<form method="post" action="/Uzivatel/Prihlaseni">
    <input type="text" name="jmeno" placeholder= "Jméno..." /> <br />    
    <input type="password" name="heslo" placeholder= "Heslo..." /> <br />  
    <input type="submit" value="Přihlásit se" /> <br /> 
</form>

<a href="/Uzivatel/Registrovat">Nemám účet</a>
<a href="/Home/Index">Domů</a>