@model WebApplication1.Models.Uzivatel
@{
    Layout = "_Layout";
    
    ViewData["Title"] = "Profil";
 }

<p>Vítejte na svém Profilu, <b>@Model.Jmeno</b> <a href ="/Uzivatel/Odhlasit">Odhlásit se</a></p>