@model WebApplication1.Models.Uzivatel
@{
    Layout = "_Layout";
    
    ViewData["Title"] = "Profil";
 }

<p>Vítejte na svém Profilu, <b>@Model.Jmeno</b></p>
 <a href ="/Uzivatel/Odhlasit">Odhlásit se</a>
 <a href ="/Poznamka/Pridat">Přidat poznámku</a>
 <a href ="/Poznamka/Vsechny">Moje poznámky</a>